asgiref
click
django
django-capture-on-commit-callbacks
djangorestframework
ghp-import
importlib-metadata
jinja2
livereload
markdown
markupsafe
mergedeep
mkdocs
mkdocs-material
packaging
pygments
pymdown-extensions
pyparsing
python-dateutil
pytz
pyyaml
pyyaml-env-tag
ruff
sqlparse
tornado
tox
urlman
zipp
